
.wrapper 
{ width: 100% }
body 
{ 
  color:#ffffff;
  background-color:#47d2fc;
  font-family:Arial;
}
.content-holder
{
/*centers everything within the content holder class below the heading*/
width: auto;
height: auto;
left: 15%;
top: 50%;
}
.content 
{
	width:auto;
    display: none;
}

